{% extends "core/plantilla.html" %}
{% load static %}

{% block contenido %}
        <div id="navbar">
            <nav class="navbar">
                <div class="container-fluid" style="display: flex; justify-content: center;">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Busca aquí" aria-label="Search">
                        <button class="btn btn-warning" type="submit">Buscar</button>
                    </form>
                </div>
            </nav>
            {% if user.is_staff %}
            <div id="botones-crud">
                <button type="button" class="btn btn-outline-warning"><a href="{% url 'Crud-prom' %}">Gestionar
                        promoción</a></button>
                <button type="button" class="btn btn-outline-warning"><a href="{% url 'Crud-prod' %}">Gestionar
                        productos</a></button>
            </div>
            {% endif %}
        </div>

        <div class="subtitulo">
            <h1><b>Catalogo de Productos</b></h1>
            <h5>Descubre nuestra variedad de productos que nuestra tienda de mascotas tiene para ofrecerte, con sus
                increibles OFERTAS Y COMBO BOX!!!!</h5>
        </div>
        <div id="boton-filtro">
            <b>Filtrar por:</b>
                <select name="filtro" id="filtro" class="form-select">
                    <option value="1">Comida</option>
                    <option value="2">Juguetes</option>
                    <option value="3">Accesorios</option>
                    <option value="4">Todo</option>
                </select>
        </div>
        
        <div id="catalogo-prod">
            {% for prodi in prod %}
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="{{ prodi.imagen.url }}" alt="{{ prodi.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ prodi.nombre }}</h5>
                    <p class="card-text">{{ prodi.descripcion }}</p>
                    <h5 class="card-text">$ {{ prodi.precio }}</h5>
                    <p><b>stock: {{ prodi.stock }} productos</b></p>
                    <a href="#" class="btn btn-primary" style="display: flex; justify-content: center;">Añadir a
                        Carrito</a>
                </div>
            </div>
            {% endfor %}

        </div>
        {% endblock  %}